/* font-family: 'Cairo', sans-serif;
font-family: 'Reem Kufi', sans-serif; */

.App {
  text-align: center;
}

.heroTitle,
.mainTitle {
  margin: 0;
  padding: 0;
  letter-spacing: 15px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 5em;
  color: #194350;
}

.comp-headline {
  padding: 60px;
  letter-spacing: 8px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 2em;
  color: #194350;
}

.subtitle {
  margin: 0;
  padding: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 30px;
  color: #194350;
}

#subUnderline {
  text-decoration: underline;
}

.giftBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #9dbeb9;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #194350;
}

#gift-columns {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.create-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  min-width: 50px;
  min-height: 100px;
  padding: 10px 10px;
  border-radius: 6px;
  /* box-shadow: 0px 4px 5px #222; */
  background-color: #fefefe;
}

.update-gift-wrapper,
.update-address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  min-width: 50px;
  min-height: 100px;
  padding: 10px 10px;
  border-radius: 6px;
  /* box-shadow: 0px 4px 5px #222; */
  background-color: #fefefe;
}

/* .card-style {
  border-radius: 5px;
  background-color: ivory;
} */

.compDiv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../src/assets/WhiteElephant-BG.png");
  background-attachment: fixed;
  /* background-color: #9dbeb9; */
}

/* SIGN UP MAIN PAGE STYLE */
p,
div {
  font-family: Lato;
}

.card-title,
.span-text {
  font-size: 35px;
  text-decoration: underline;
  font-family: "Cairo", sans-serif;
  color: #194350;
}

.card-text {
  font-size: 30px;
  font-family: "Cairo", sans-serif;
  color: #194350;
}

.address-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-wrapper {
  /* padding-top: 40px; */
  padding: 10px;
  margin: 5px;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(95, 158, 160, 0.555);
  border-radius: 15px;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../src/assets/WhiteElephant-BG.png");
  background-attachment: fixed;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
}

.form-wrapper > h2 {
  display: flex;
  justify-content: center;
  /* font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Cairo", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

label {
  font-family: "Reem Kufi", sans-serif;
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
}

button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color: #194350;
  color: #fefefe;
}
button:hover {
  background-color: #ff8882;
  color: #fefefe;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
